
body {
  font-size: 1.5em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
  Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  line-height: 1.4;
}

.container {
  width: 95%;
  max-width: 100vh;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  color: #333;
  margin-top: 5vh;
  margin-bottom: 5vh;
  overflow-y: auto;
}

input[type="text"] {
  font-size: 1.2em;
  width: 80%;
  padding: 10px;
  border-radius: 4px;
  border: 3px solid #333;
}

input[placeholder] {
  text-align: center;
}

body div form,h1,p {
  text-align: center;
}

h1 {
  font-size: 3.5em;
  opacity: 0.8;
  color: indianred;
}

div ul {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.7em;
  list-style-type: none;
  font-weight: bold;
}

.delete-item {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

svg {
  width: 64px;
  height: 64px;
}

.empty-state {
  text-align: center;
}
.delete-todo svg {
  width: 30px;
  height: 30px;
  pointer-events: none;
}

.todo-list {
  list-style: none;
  margin-bottom: 20px;
}

.todo-item {
  margin-bottom: 10px;
  margin-right: 40px;
  width: 80%;
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.todo-item span {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.2em;
  max-width: 80%;
}

.done span {
  text-decoration: line-through;
  color: indianred;
  font-weight: normal;
}

input[type="checkbox"] {
  display: none;
}

.tick {
  width: 30px;
  height: 30px;
  border: 2px solid indianred;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.7;
}

.tick::before {
  content: '\2713';
  font-size: 23px;
  font-weight: bold;
  display: none;
  color: indianred;
}

.done .tick::before {
  display: inline;
}

.delete-todo {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  opacity: 0.6;
}

@media only screen and (max-device-width: 480px) {
  body {
    font-size: 1.1em;
  }
  h1 {
    font-size: 2.3em;
  }
  input[type="text"] {
    font-size: 1em;
    width: 90%;
  }
  .todo-item {
    width: 100%;
  }
  .todo-item span {
    font-size: 1em;
    max-width: 70%;
  }
  div ul {
    line-height: 1.5em;
    font-weight: normal;
  }
  .tick::before {
    font-size: 18px;
  }
  .tick {
    width: 20px;
    height: 20px;
  }
  .delete-todo svg {
    width: 20px;
    height: 20px;
  }
}
